name: Publish to Test PyPI

on:
  release:
    types: [prereleased]
  workflow_dispatch:

jobs:
  publish-test-pypi:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          enable-cache: true
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Build package
        run: make build
      - name: Publish to TestPyPI
        run: uv publish --index testpypi